.Weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.Weather img{
    height: 90px;
}

.Weather span{
    color: #f16051;
    font-weight: bolder
}